@{
    ViewBag.Title = "Detalles";
    long empleadoID = ViewBag.empleadoID;
}
@section scripts{
    <script src="~/Scripts/Empleados/Details/Services/common.services.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('sueldosYjornalesApp')
                .factory('sYjResource', sYjResource);

            sYjResource.$inject = ['$resource'];

            function sYjResource($resource) {
                var ubicacionSucUsuarios = $resource("@Href("~/api/UbicacionSucUsuarios")");
                var empleados = $resource("@Href("~/api/Empleados")");
                var comisiones = $resource("@Href("~/api/Comisiones")");
                var comisionesByEmpleadoID = $resource("@Href("~/api/Comisiones/ByEmpleadoID")");
                var anticipos = $resource("@Href("~/api/Anticipos")");
                var anticiposByEmpleadoID = $resource("@Href("~/api/Anticipos/ByEmpleadoID")");
                var prestamosSimples = $resource("@Href("~/api/PrestamosSimples")");
                var prestamosSimplesByEmpleadoID = $resource("@Href("~/api/PrestamosSimples/ByEmpleadoID")");

                return {
                    "ubicacionSucUsuarios": ubicacionSucUsuarios,
                    "empleados": empleados,
                    "comisiones": comisiones,
                    "comisionesByEmpleadoID": comisionesByEmpleadoID,
                    "anticipos": anticipos,
                    "anticiposByEmpleadoID": anticiposByEmpleadoID,
                    "prestamosSimples": prestamosSimples,
                    "prestamosSimplesByEmpleadoID": prestamosSimplesByEmpleadoID
                }
            }
        })();
    </script>
    @*controladores*@
    <script src="~/Scripts/Empleados/Common/Controllers/encabezadoCtrl.js"></script>
    <script src="~/Scripts/Empleados/Details/Controllers/menuCtrl.js"></script>
    <script src="~/Scripts/Empleados/Details/Controllers/Comisiones/comisionesCtrl.js"></script>
    <script src="~/Scripts/Empleados/Details/Controllers/Comisiones/listadoComisionesCtrl.js"></script>
    <script src="~/Scripts/Empleados/Details/Controllers/Anticipos/anticipoCtrl.js"></script>
    <script src="~/Scripts/Empleados/Details/Controllers/Anticipos/listadoAnticiposCtrl.js"></script>
    <script src="~/Scripts/Empleados/Details/Controllers/PrestamosSimples/prestamosSimplesCtrl.js"></script>
}
<style type="text/css">
    .form-group {
        margin-bottom: 3px;
    }

    .active {
        color: blue;
    }
</style>
<div class="container" ng-controller="menuCtrl as vm" ng-cloak ng-init="vm.empleadoID = @empleadoID">
    @Html.Partial("Common/_Encabezado")
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Cargas varias</h3>
        </div>
    </div>
    <ul class="nav nav-tabs" style="margin-top:2px;">
        <li role="presentation" class="{{vm.menu.comisiones.class}}">
            <a href="#" ng-click="vm.comisionesFn($event)">Comisiones</a>
        </li>
        <li role="presentation" class="{{vm.menu.anticipos.class}}">
            <a href="#" ng-click="vm.anticiposFn($event)">Anticipos</a>
        </li>
        <li role="presentation" class="{{vm.menu.prestamosSimples.class}}">
            <a href="#" ng-click="vm.prestamosSimplesFn($event)">Prestamos simples</a>
        </li>
    </ul>
    <div style="margin-top:25px;" ng-show="vm.menu.comisiones.mostrar">
        @Html.Partial("Details/_Comisiones")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.anticipos.mostrar">
        @Html.Partial("Details/_Anticipos")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.prestamosSimples.mostrar">
        @Html.Partial("Details/_PrestamosSimples")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.introduccion" class="text-center">
        <div class="alert alert-info">
            Por favor elija uno de las opciones
        </div>
    </div>
    @*<pre>{{vm.empleado | json}}</pre>*@
</div>
