@{
    ViewBag.Title = "Historicos";
    long empleadoID = ViewBag.empleadoID;
}
@section scripts{
    <script src="~/Scripts/Empleados/Historicos/Services/common.services.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('sueldosYjornalesApp')
                .factory('sYjResource', sYjResource);

            sYjResource.$inject = ['$resource'];

            function sYjResource($resource) {
                var ubicacionSucUsuarios = $resource("@Href("~/api/UbicacionSucUsuarios")");
                var historicoDirecciones = $resource("@Href("~/api/HistoricoDirecciones")");
                var historicoDireccionesByEmpleadoID = $resource("@Href("~/api/HistoricoDirecciones/ByEmpleadoID")");
                var empleados = $resource("@Href("~/api/Empleados")");
                var historicoSalarios = $resource("@Href("~/api/HistoricoSalarios")");
                var cargos = $resource("@Href("~/api/Cargos")");
                var historicoSalariosByEmpleadoID = $resource("@Href("~/api/HistoricoSalarios/ByEmpleadoID")");
                var historicoIngresoSalidas = $resource("@Href("~/api/HistoricoIngresoSalidas")");
                var historicoIngresoSalidasByEmpleadoID = $resource("@Href("~/api/HistoricoIngresoSalidas/ByEmpleadoID")");
                var historicoHorarios = $resource("@Href("~/api/HistoricoHorarios")");
                var historicoHorariosByEmpleadoID = $resource("@Href("~/api/HistoricoHorarios/ByEmpleadoID")");
                var historicoTelefonosByEmpleadoID = $resource("@Href("~/api/HistoricoTelefonos/ByEmpleadoID")");
                var historicoTelefonos = $resource("@Href("~/api/HistoricoTelefonos")");

                return {
                    "ubicacionSucUsuarios": ubicacionSucUsuarios,
                    "historicoDirecciones": historicoDirecciones,
                    "historicoDireccionesByEmpleadoID": historicoDireccionesByEmpleadoID,
                    "empleados": empleados,
                    "historicoSalarios": historicoSalarios,
                    "cargos": cargos,
                    "historicoSalariosByEmpleadoID": historicoSalariosByEmpleadoID,
                    "historicoIngresoSalidas": historicoIngresoSalidas,
                    "historicoIngresoSalidasByEmpleadoID": historicoIngresoSalidasByEmpleadoID,
                    "historicoHorarios": historicoHorarios,
                    "historicoHorariosByEmpleadoID": historicoHorariosByEmpleadoID,
                    "historicoTelefonosByEmpleadoID": historicoTelefonosByEmpleadoID,
                    "historicoTelefonos": historicoTelefonos
                }
            }
        })();
    </script>
    @*controladores*@
    <script src="~/Scripts/Empleados/Historicos/Controllers/menuCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoDireccion/historicoDireccionCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoDireccion/listadoHistoricoDireccionesCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoSalario/historicoSalariosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoSalario/listadoHitoricoSalariosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/IngresosSalidas/historicoIngresoSalidasCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/IngresosSalidas/listadoHistoricoIngresoSalidasCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoHorarios/historicoHorariosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoHorarios/listadoHitoricoHorariosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoTelefonos/historicoTelefonosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoTelefonos/listadoHistoricoTelefonosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoSucursales/historicoSucursalesCtrl.js"></script>
}
<style type="text/css">
    .form-group {
        margin-bottom: 3px;
    }
</style>
<div class="container" ng-controller="menuCtrl as vm" ng-cloak ng-init="vm.empleadoID = @empleadoID">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">
                {{vm.empleado.objetoDto.nombres}} {{vm.empleado.objetoDto.apellidos}}
            </h2>
            <table class="table table-bordered table-condensed table-responsive table-striped">
                <tr>
                    <th>Fecha Nacimiento</th>
                    <td>{{vm.empleado.objetoDto.fechaNacimiento | date:"dd/MM/yyyy"}}</td>

                    <th>Sexo</th>
                    <td>{{vm.empleado.objetoDto.sexo.nombreSexo}}</td>
                </tr>
                <tr>
                    <th>Numero Cedula</th>
                    <td>{{vm.empleado.objetoDto.nroCedula}}</td>

                    <th>Estado Civil</th>
                    <td>{{vm.empleado.objetoDto.estadoCivile.nombreEstadoCivil}}</td>
                </tr>
                <tr>
                    <th>Nacionalidad</th>
                    <td>{{vm.empleado.objetoDto.nacionalidade.nombreNacionalidad}}</td>

                    <th>Profesion</th>
                    <td>{{vm.empleado.objetoDto.profesione.nombreProfesion}}</td>
                </tr>
                <tr>
                    <th>Cantidad Hijos</th>
                    <td>{{vm.empleado.objetoDto.cantidadHijos}}</td>
                </tr>
            </table>
        </div>
    </div>
    <ul class="nav nav-tabs" style="margin-top:25px;">
        <li role="presentation" class="{{vm.menu.historicoDirecciones.class}}">
            <a href="#" ng-click="vm.historicoDireccionesFn()">Direcciones</a>
        </li>
        <li role="presentation" class="{{vm.menu.salarios.class}}">
            <a href="#" ng-click="vm.salariosFn()">Salarios</a>
        </li>
        <li role="presentation" class="{{vm.menu.ingresoSalidas.class}}">
            <a href="#" ng-click="vm.ingresoSalidasFn()">Ingresos y Salidas</a>
        </li>
        <li role="presentation" class="{{vm.menu.horarios.class}}">
            <a href="#" ng-click="vm.horariosFn()">Horarios</a>
        </li>
        <li role="presentation" class="{{vm.menu.telefonos.class}}">
            <a href="#" ng-click="vm.telefonosFn()">Telefonos</a>
        </li>
        <li role="presentation" class="{{vm.menu.sucursales.class}}">
            <a href="#" ng-click="vm.sucursalesFn()">Sucursales</a>
        </li>
    </ul>
    <div style="margin-top:25px;" ng-show="vm.menu.historicoDirecciones.mostrar">
        @Html.Partial("Historicos/_HistoricoDirecciones")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.salarios.mostrar">
        @Html.Partial("Historicos/_Salarios")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.ingresoSalidas.mostrar">
        @Html.Partial("Historicos/_IngresosSalidas")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.horarios.mostrar">
        @Html.Partial("Historicos/_Horarios")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.telefonos.mostrar">
        @Html.Partial("Historicos/_Telefonos")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.sucursales.mostrar">
        @Html.Partial("Historicos/_Sucursales")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.introduccion" class="text-center">
        <div class="alert alert-info">
            Por favor elija uno de las opciones a cargar dentro de los historicos
        </div>
    </div>
    @*<pre>{{vm.empleado | json}}</pre>*@
</div>
