@{
    ViewBag.Title = "Historicos";
    long empleadoID = ViewBag.empleadoID;
}
@section scripts{
    <script src="~/Scripts/Empleados/Historicos/Services/common.services.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('sueldosYjornalesApp')
                .factory('sYjResource', sYjResource);

            sYjResource.$inject = ['$resource'];

            function sYjResource($resource) {
                var ubicacionSucUsuarios = $resource("@Href("~/api/UbicacionSucUsuarios")");
                var historicoDirecciones = $resource("@Href("~/api/HistoricoDirecciones")");
                var historicoDireccionesByEmpleadoID = $resource("@Href("~/api/HistoricoDirecciones/ByEmpleadoID")");
                var empleados = $resource("@Href("~/api/Empleados")");
                var historicoSalarios = $resource("@Href("~/api/HistoricoSalarios")");
                var cargos = $resource("@Href("~/api/Cargos")");
                var historicoSalariosByEmpleadoID = $resource("@Href("~/api/HistoricoSalarios/ByEmpleadoID")");
                var historicoIngresoSalidas = $resource("@Href("~/api/HistoricoIngresoSalidas")");
                var historicoIngresoSalidasByEmpleadoID = $resource("@Href("~/api/HistoricoIngresoSalidas/ByEmpleadoID")");
                var historicoHorarios = $resource("@Href("~/api/HistoricoHorarios")");
                var historicoHorariosByEmpleadoID = $resource("@Href("~/api/HistoricoHorarios/ByEmpleadoID")");
                var historicoTelefonosByEmpleadoID = $resource("@Href("~/api/HistoricoTelefonos/ByEmpleadoID")");
                var historicoTelefonos = $resource("@Href("~/api/HistoricoTelefonos")");
                var sucursales = $resource("@Href("~/api/Sucursales")");
                var historicoSucursales = $resource("@Href("~/api/HistoricoSucursales")");
                var historicoSucursalesByEmpleadoID = $resource("@Href("~/api/HistoricoSucursales/ByEmpleadoID")");
                var conceptosIngreEgre = $resource("@Href("~/api/ConceptosIngreEgres")");

                return {
                    "ubicacionSucUsuarios": ubicacionSucUsuarios,
                    "historicoDirecciones": historicoDirecciones,
                    "historicoDireccionesByEmpleadoID": historicoDireccionesByEmpleadoID,
                    "empleados": empleados,
                    "historicoSalarios": historicoSalarios,
                    "cargos": cargos,
                    "historicoSalariosByEmpleadoID": historicoSalariosByEmpleadoID,
                    "historicoIngresoSalidas": historicoIngresoSalidas,
                    "historicoIngresoSalidasByEmpleadoID": historicoIngresoSalidasByEmpleadoID,
                    "historicoHorarios": historicoHorarios,
                    "historicoHorariosByEmpleadoID": historicoHorariosByEmpleadoID,
                    "historicoTelefonosByEmpleadoID": historicoTelefonosByEmpleadoID,
                    "historicoTelefonos": historicoTelefonos,
                    "sucursales": sucursales,
                    "historicoSucursales": historicoSucursales,
                    "historicoSucursalesByEmpleadoID": historicoSucursalesByEmpleadoID,
                    "conceptosIngreEgre": conceptosIngreEgre
                }
            }
        })();
    </script>
    @*controladores*@
<script src="~/Scripts/Empleados/Common/Controllers/encabezadoCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/menuCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoDireccion/historicoDireccionCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoDireccion/listadoHistoricoDireccionesCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoSalario/historicoSalariosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoSalario/listadoHitoricoSalariosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/IngresosSalidas/historicoIngresoSalidasCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/IngresosSalidas/listadoHistoricoIngresoSalidasCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoHorarios/historicoHorariosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoHorarios/listadoHistoricoHorariosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoTelefonos/historicoTelefonosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoTelefonos/listadoHistoricoTelefonosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoSucursales/historicoSucursalesCtrl.js"></script>
    <script src="~/Scripts/Empleados/Historicos/Controllers/HistoricoSucursales/listadoHistoricoSucursalesCtrl.js"></script>
}
<style type="text/css">
    .form-group {
        margin-bottom: 3px;
    }
</style>
<div class="container" ng-controller="menuCtrl as vm" ng-cloak ng-init="vm.empleadoID = @empleadoID">
    @Html.Partial("Common/_Encabezado")
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Historicos - listados, edicion y carga.</h3>
        </div>
    </div>
    <ul class="nav nav-tabs" style="margin-top:2px;">
        <li role="presentation" class="{{vm.menu.historicoDirecciones.class}}">
            <a href="#" ng-click="vm.historicoDireccionesFn($event)">Direcciones</a>
        </li>
        <li role="presentation" class="{{vm.menu.salarios.class}}">
            <a href="#" ng-click="vm.salariosFn($event)">Salarios</a>
        </li>
        <li role="presentation" class="{{vm.menu.ingresoSalidas.class}}">
            <a href="#" ng-click="vm.ingresoSalidasFn($event)">Ingresos y Salidas</a>
        </li>
        <li role="presentation" class="{{vm.menu.horarios.class}}">
            <a href="#" ng-click="vm.horariosFn($event)">Horarios</a>
        </li>
        <li role="presentation" class="{{vm.menu.telefonos.class}}">
            <a href="#" ng-click="vm.telefonosFn($event)">Telefonos</a>
        </li>
        <li role="presentation" class="{{vm.menu.sucursales.class}}">
            <a href="#" ng-click="vm.sucursalesFn($event)">Sucursales</a>
        </li>
    </ul>
    <div style="margin-top:25px;" ng-show="vm.menu.historicoDirecciones.mostrar">
        @Html.Partial("Historicos/_HistoricoDirecciones")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.salarios.mostrar">
        @Html.Partial("Historicos/_Salarios")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.ingresoSalidas.mostrar">
        @Html.Partial("Historicos/_IngresosSalidas")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.horarios.mostrar">
        @Html.Partial("Historicos/_Horarios")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.telefonos.mostrar">
        @Html.Partial("Historicos/_Telefonos")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.sucursales.mostrar">
        @Html.Partial("Historicos/_Sucursales")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.introduccion" class="text-center">
        <div class="alert alert-info">
            Por favor elija uno de las opciones a cargar dentro de los historicos
        </div>
    </div>
    @*<pre>{{vm.empleado | json}}</pre>*@
</div>
