@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script src="~/Scripts/Home/Index/Services/common.services.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('sueldosYjornalesApp')
                .factory('sYjResource', sYjResource);

            sYjResource.$inject = ['$resource'];

            function sYjResource($resource) {
                var empresas = $resource("@Href("~/api/Empresas")");
                var sucursales = $resource("@Href("~/api/Sucursales")");
                var nacionalidades = $resource("@Href("~/api/Nacionalidades")");
                var cargos = $resource("@Href("~/api/Cargos")");
                var profesiones = $resource("@Href("~/api/Profesiones")");
                var usuarios = $resource("@Href("~/api/Usuarios")");
                var ubicacionSucUsuarios = $resource("@Href("~/api/UbicacionSucUsuarios")");
                var estadosCiviles = $resource("@Href("~/api/EstadosCiviles")");
                var empleados = $resource("@Href("~/api/Empleados")");
                var empleadosSegunUbicacionSucursal = $resource("@Href("~/api/Empleados/SegunUbicacionSucursal")");
                var empleadosInactivosSegunUbicacionSucursal = $resource("@Href("~/api/Empleados/InactivosSegunUbicacionSucursal")");

                return {
                    "empresas": empresas,
                    "sucursales": sucursales,
                    "nacionalidades": nacionalidades,
                    "cargos": cargos,
                    "profesiones": profesiones,
                    "usuarios": usuarios,
                    "ubicacionSucUsuarios": ubicacionSucUsuarios,
                    "estadosCiviles": estadosCiviles,
                    "empleados": empleados,
                    "empleadosSegunUbicacionSucursal": empleadosSegunUbicacionSucursal,
                    "empleadosInactivosSegunUbicacionSucursal": empleadosInactivosSegunUbicacionSucursal
                }
            }
        })();
    </script>
    @*controladores*@
<script src="~/Scripts/Empleados/Common/Controllers/encabezadoCtrl.js"></script>
    <script src="~/Scripts/Empleados/Index/Controllers/empleadoCtrl.js"></script>
    <script src="~/Scripts/Empleados/Index/Controllers/listadoEmpleadosCtrl.js"></script>
    <script src="~/Scripts/Empleados/Index/Controllers/menuCtrl.js"></script>
}
<div class="row" style="margin-top:25px;" ng-controller="menuCtrl" ng-cloak>
    <div class="col-md-1" id="div_formCargarEmpleado">
        <div ng-show="mostrarFormCargaEmpleado">
            @Html.Partial("Index/_FormCargaEmpleado")
        </div>
        <div ng-hide="mostrarFormCargaEmpleado">
            <button type="button" title="Cargar/Editar Empleado" class="btn btn-default" ng-click="mostrarFormCargarEmpleado()">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
    <div class="col-md-11" id="div_ListadoEmpleados">
        @Html.Partial("Index/_ListadoEmpleados")
    </div>
</div>