@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script src="~/Scripts/Home/Index/Services/common.services.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('sueldosYjornalesApp')
                .factory('sYjResource', sYjResource);

            sYjResource.$inject = ['$resource'];

            function sYjResource($resource) {
                var empresas = $resource("@Href("~/api/Empresas")");
                var sucursales = $resource("@Href("~/api/Sucursales")");
                var nacionalidades = $resource("@Href("~/api/Nacionalidades")");
                var cargos = $resource("@Href("~/api/Cargos")");
                var profesiones = $resource("@Href("~/api/Profesiones")");
                var usuarios = $resource("@Href("~/api/Usuarios")");
                var ubicacionSucUsuarios = $resource("@Href("~/api/UbicacionSucUsuarios")");
                var estadosCiviles = $resource("@Href("~/api/EstadosCiviles")");

                return {
                    "empresas": empresas,
                    "sucursales": sucursales,
                    "nacionalidades": nacionalidades,
                    "cargos": cargos,
                    "profesiones": profesiones,
                    "usuarios": usuarios,
                    "ubicacionSucUsuarios": ubicacionSucUsuarios,
                    "estadosCiviles": estadosCiviles
                }
            }
        })();
    </script>
    @*controladores*@
    <script src="~/Scripts/Empleados/Index/Controllers/empleadoCtrl.js"></script>


}
<div class="row" style="margin-top:25px;">
    <div class="col-md-4">
        @Html.Partial("Index/_FormCargaEmpleado")
    </div>
    <div class="col-md-8">
        @Html.Partial("Index/_ListadoEmpleados")
    </div>
</div>