@{
    ViewBag.Title = "Resumen";
    long empleadoID = ViewBag.empleadoID;
}

@section scripts{
    <script src="~/Scripts/Empleados/Resumen/Services/common.services.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('sueldosYjornalesApp')
                .factory('sYjResource', sYjResource);

            sYjResource.$inject = ['$resource'];

            function sYjResource($resource) {
                var ubicacionSucUsuarios = $resource("@Href("~/api/UbicacionSucUsuarios")");
                var empleados = $resource("@Href("~/api/Empleados")");
                var historicoDireccionesDireccionActual = $resource("@Href("~/api/HistoricoDirecciones/DireccionActual")");
                var historicoSalariosSalarioActual = $resource("@Href("~/api/HistoricoSalarios/SalarioActual")");
                var historicoIngresoSalidasUltimoIngreso = $resource("@Href("~/api/HistoricoIngresoSalidas/UltimoIngreso")");
                var historicoHorariosUltimoHorario = $resource("@Href("~/api/HistoricoHorarios/UltimoHorario")");
                var historicoTelefonosUltimoTelefono = $resource("@Href("~/api/HistoricoTelefonos/UltimoTelefono")");
                var historicoSucursalesUltimoSucursales = $resource("@Href("~/api/HistoricoSucursales/UltimoSucursales")");
                var comisionesUltimo2meses = $resource("@Href("~/api/Comisiones/Ultimo2meses")");
                var anticiposUltimo2Meses = $resource("@Href("~/api/Anticipos/Ultimo2Meses")");
                return {
                    "ubicacionSucUsuarios": ubicacionSucUsuarios,
                    "empleados": empleados,
                    "historicoDireccionesDireccionActual": historicoDireccionesDireccionActual,
                    "historicoSalariosSalarioActual": historicoSalariosSalarioActual,
                    "historicoIngresoSalidasUltimoIngreso": historicoIngresoSalidasUltimoIngreso,
                    "historicoHorariosUltimoHorario": historicoHorariosUltimoHorario,
                    "historicoTelefonosUltimoTelefono": historicoTelefonosUltimoTelefono,
                    "historicoSucursalesUltimoSucursales": historicoSucursalesUltimoSucursales,
                    "comisionesUltimo2meses": comisionesUltimo2meses,
                    "anticiposUltimo2Meses": anticiposUltimo2Meses
                }
            }
        })();
    </script>
    @*controladores*@
    <script src="~/Scripts/Empleados/Common/Controllers/encabezadoCtrl.js"></script>
    <script src="~/Scripts/Empleados/Resumen/Controllers/menuCtrl.js"></script>
}
<style type="text/css">
    .form-group {
        margin-bottom: 3px;
    }
</style>
<div class="container" ng-controller="menuCtrl as vm" ng-cloak ng-init="vm.empleadoID = @empleadoID">
    @Html.Partial("Common/_Encabezado")
    <div class="row">
        <div class="col-md-4">
            <p><b>Direccion:</b> {{vm.direccion.objetoDto.direccion}}</p>
            <p><b>Salario base:</b> {{vm.salarioYcargo.objetoDto.monto | currency:"Gs":0}}</p>
            <p><b>Cargo:</b> {{vm.salarioYcargo.objetoDto.cargo.nombreCargo}}</p>
            <p><b>Observacion:</b>{{vm.salarioYcargo.objetoDto.observacion}}</p>
            <p>
                <b>¿Tiene IPS?</b>
                <span ng-show="vm.salarioYcargo.objetoDto.ips_Sn == true">SI</span>
                <span style="color:yellow;background-color:red;" ng-show="vm.salarioYcargo.objetoDto.ips_Sn == false">NO</span>
            </p>
            <p><b>Fecha de Ingreso a la empresa:</b> {{vm.ingresoSalida.objetoDto.fechaIngreso | date:"dd/MM/yyyy":"UTC"}}</p>
            <p><b>Telefonos:</b> {{vm.telefono.objetoDto.telefonos}}</p>
            <p><b>Sucursal donde trabaja:</b> {{vm.sucursal.objetoDto.sucursal.nombreSucursal}}</p>
            @*<pre>{{vm.salarioYcargo | json}}</pre>*@
        </div>
        <div class="col-md-4">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <caption>Horarios de trabajo</caption>
                <tr>
                    <th>Turno</th>
                    <th class="text-center">Entrada</th>
                    <th class="text-center">Salida</th>
                </tr>
                <tr>
                    <th>Mañana</th>
                    <td class="text-center">{{vm.horario.objetoDto.horaEntradaManana | date:"HH:mm":"UTC"}}</td>
                    <td class="text-center">{{vm.horario.objetoDto.horaSalidaManana | date:"HH:mm":"UTC"}}</td>
                </tr>
                <tr>
                    <th>Tarde</th>
                    <td class="text-center">{{vm.horario.objetoDto.horaEntradaTarde | date:"HH:mm":"UTC"}}</td>
                    <td class="text-center">{{vm.horario.objetoDto.horaSalidaTarde | date:"HH:mm":"UTC"}}</td>
                </tr>
                <tr>
                    <th>Noche</th>
                    <td class="text-center">{{vm.horario.objetoDto.horaEntradaNoche | date:"HH:mm":"UTC"}}</td>
                    <td class="text-center">{{vm.horario.objetoDto.horaSalidaNoche | date:"HH:mm":"UTC"}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <p><b>Comision de los ultimos 2 meses</b></p>
            <table class="table table-condensed table-bordered table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Fecha Comision</th>
                        <th>Monto</th>
                        <th>Observacion</th>
                    </tr>
                </thead>
                <tr ng-repeat="o in vm.comisiones">
                    <td>{{o.fechaComision | date:"dd/MM/yyyy":"UTC"}}</td>
                    <td>{{o.montoComision | currency:"Gs.":0}}</td>
                    <td>{{o.observacion}}</td>
                </tr>
            </table>
            <p><b>Anticipo de los ultimo 2 meses</b></p>
            <table class="table table-condensed table-bordered table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Fecha anticipo</th>
                        <th>Monto</th>
                        <th>Observacion</th>
                    </tr>
                </thead>
                <tr ng-repeat="o in vm.anticipos">
                    <td>{{o.fechaAnticipo | date:"dd/MM/yyyy":'UTC'}}</td>
                    <td>{{o.montoAnticipo | currency:"Gs":0}}</td>
                    <td>{{o.observacion}}</td>
                </tr>
            </table>
            @*{{vm.anticipos | json}}*@
        </div>
    </div>
</div>
