@{
    ViewBag.Title = "Menu";
}
@section scripts{
    <script src="~/Scripts/Home/Menu/Services/common.services.js"></script>
    <script src="~/Scripts/Home/Menu/Controllers/ubicacionSucUsuarioCtrl.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('sueldosYjornalesApp')
                .factory('sYjResource', sYjResource);

            sYjResource.$inject = ['$resource'];

            function sYjResource($resource) {
                var empresas = $resource("@Href("~/api/Empresas")");
                var sucursales = $resource("@Href("~/api/Sucursales")");
                var sucursalesSegunEmpresaID = $resource("@Href("~/api/Sucursales/SegunEmpresaID")");
                var empresas = $resource("@Href("~/api/Empresas")");
                var ubicacionSucUsuarios = $resource("@Href("~/api/UbicacionSucUsuarios")");

                return {
                    "empresas": empresas,
                    "Sucursales": sucursales,
                    "sucursalesSegunEmpresaID": sucursalesSegunEmpresaID,
                    "ubicacionSucUsuarios": ubicacionSucUsuarios
                }
            }
        })();
    </script>
}

<div class="container" style="margin-top:25px;" ng-controller="ubicacionSucUsuarioCtrl" ng-cloak>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Sucursal de trabajo
            <span class="badge">
                {{ubicacionSucUsuario.empresa.nombreEmpresa | uppercase}} -
                {{ubicacionSucUsuario.sucursale.nombreSucursal | uppercase}}
            </span>
        </div>
        <div class="panel-body">
            <form class="form-inline" name="ubicacionSucUsuariosForm">
                <div class="form-group">
                    <label for="empresa">Empresa</label>
                    <select name="moneda" required
                            ng-model="ubicacionSucUsuario.empresa"
                            ng-options="r.nombreEmpresa for r in empresas" class="form-control"
                            ng-required="true">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="ubicacionSucUsuario.empresa">Seleccione empresa</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sucursale">Sucursal</label>
                    <select name="moneda" required
                            ng-model="ubicacionSucUsuario.sucursale"
                            ng-options="r.nombreSucursal for r in sucursales" class="form-control"
                            ng-required="true">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="ubicacionSucUsuario.sucursale">Seleccione sucursal</option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="sucursale" style="display:block">Seleccionar</label>
                    <button ng-click="guardar()" ng-disabled="ubicacionSucUsuariosForm.$invalid" class="btn btn-default">
                        Sucursal
                    </button>
                </div>
                <div class="form-group" ng-show="mensajeDelServidor != null" style="margin-left:25px;">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{mensajeDelServidor}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Menu sueldos y jornales</h1>
        </div>
    </div>
    <div class="row">     
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Index", "Empleados")">
                    <img src="~/Images/empleados.JPG" class="img-rounded  img-responsive" />
                </a>
                <div class="caption">
                    <h3 style="text-align:center;">Empleados</h3>
                </div>
            </div>
        </div>
       
    </div>
</div>


