@model List<SYJ.Application.Dto.EmpleadoDto>
@{
    Layout = null;   
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Estancia</th>               
                <th>Empleado</th>               
                <th>N° cedula</th>               
                <th>Fecha Entrada</th>
                <th>Fecha Salida</th>
            </tr>
            @foreach (var l in Model) {
                <tr>
                    <td>@l.Sucursale.NombreSucursal</td>                   
                    <td>@l.Nombres  @l.Apellidos</td>                   
                    <td>@l.NroCedula</td>                  
                    <td>@l.FechaEntrada.ToShortDateString()</td>
                    <td>@l.FechaSalida.ToShortDateString()</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
