@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script src="~/Scripts/Informes/Index/Services/common.services.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('sueldosYjornalesApp')
                .factory('sYjResource', sYjResource);

            sYjResource.$inject = ['$resource'];

            function sYjResource($resource) {
                var ubicacionSucUsuarios = $resource("@Href("~/api/UbicacionSucUsuarios")");
                var empleados = $resource("@Href("~/api/Empleados")");
                var empresas = $resource("@Href("~/api/Empresas")");
                var sucursalesSegunEmpresaID = $resource("@Href("~/api/Sucursales/SegunEmpresaID")");
                return {
                    "ubicacionSucUsuarios": ubicacionSucUsuarios,
                    "empleados": empleados,
                    "empresas": empresas,
                    "sucursalesSegunEmpresaID": sucursalesSegunEmpresaID
                }
            }
        })();
    </script>
    @*controladores*@
    <script src="~/Scripts/Informes/Index/Controlles/liquidacionSalarioCtrl.js"></script>
}
<div class="row" style="margin-top:25px;">
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">Liquidacion de salario</div>
            <div class="panel-body" ng-controller="liquidacionSalarioCtrl as vm">
                <form class="form-horizontal" role="form" name="liquidacionSalarioForm" method="post" action="@Url.Action("LiquidacionSueldo","Informes")" target="_blank"  ng-cloak>
                    <div class="form-group">
                        <label for="cargo" class="col-md-4 control-label">Mes</label>
                        <div class="col-md-8">
                            <select name="mes" required
                                    ng-model="vm.liquidacionSalario.mes"
                                    ng-options="r.nombreMes for r in vm.meses" class="form-control"
                                    ng-required="true">
                                <!--<option value="">-- Seleccione el concepto --</option>-->
                                <option value="" ng-hide="vm.historicoSalario.cargo">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="year" class="col-md-4 control-label">Año</label>
                        <div class="col-md-8">
                            <select name="year" required
                                    ng-model="vm.liquidacionSalario.year"
                                    ng-options="r for r in vm.years" class="form-control"
                                    ng-required="true">
                                <!--<option value="">-- Seleccione el concepto --</option>-->
                                <option value="" ng-hide="vm.historicoSalario.year">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empresa" class="col-md-4 control-label">Empresa</label>
                        <div class="col-md-8">
                            <select name="empresa" required
                                    ng-model="vm.liquidacionSalario.empresa"
                                    ng-options="r.nombreEmpresa for r in vm.empresas" class="form-control"
                                    ng-required="true">
                                <!--<option value="">-- Seleccione el concepto --</option>-->
                                <option value="" ng-hide="vm.liquidacionSalario.empresa">Seleccione Empresa</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sucursale" class="col-md-4 control-label">Sucursal</label>
                        <div class="col-md-8">
                            <select name="sucursale" required
                                    ng-model="vm.liquidacionSalario.sucursale"
                                    ng-options="r.nombreSucursal for r in vm.sucursales" class="form-control"
                                    ng-required="true">
                                <!--<option value="">-- Seleccione el concepto --</option>-->
                                <option value="" ng-hide="vm.liquidacionSalario.sucursale">Seleccione Sucursal</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="liquidacionSalarioForm.$invalid" class="btn btn-default">Generar Informe</button>
                    @*<div class="form-group">
                        <div class="col-md-12">
                            <button ng-click="vm.guardar()" ng-disabled="liquidacionSalarioForm.$invalid" class="btn btn-default">
                                Generar informe
                            </button>
                            <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                Nuevo
                            </button>
                        </div>
                    </div>*@
                    @*<div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">Aviso</div>
                        <div class="panel-body">
                            {{vm.mensajeDelServidor}}
                        </div>
                    </div>
                </div>*@
                    <pre>{{vm.liquidacionSalario | json}}</pre>
                    <pre>{{vm.years | json}}</pre>
                </form>
            </div>
        </div>
    </div>
</div>