@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script src="~/Scripts/Informes/Index/Services/common.services.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('sueldosYjornalesApp')
                .factory('sYjResource', sYjResource);

            sYjResource.$inject = ['$resource'];

            function sYjResource($resource) {
                var ubicacionSucUsuarios = $resource("@Href("~/api/UbicacionSucUsuarios")");
                var empleados = $resource("@Href("~/api/Empleados")");
                var empresas = $resource("@Href("~/api/Empresas")");
                var sucursalesSegunEmpresaID = $resource("@Href("~/api/Sucursales/SegunEmpresaID")");
                return {
                    "ubicacionSucUsuarios": ubicacionSucUsuarios,
                    "empleados": empleados,
                    "empresas": empresas,
                    "sucursalesSegunEmpresaID": sucursalesSegunEmpresaID
                }
            }
        })();
    </script>
    @*controladores*@
    <script src="~/Scripts/Informes/Index/Controlles/liquidacionSalarioCtrl.js"></script>
    <script src="~/Scripts/Informes/Index/Controlles/planillaSalarioCtrl.js"></script>
    <script src="~/Scripts/Informes/Index/Controlles/listadoPrestamoCtrl.js"></script>
}
<div class="row" style="margin-top:25px;">
    <div class="col-md-4">
        @*@Html.Partial("Index/_LiquidacionSalario") //Se eliminara, si se elimina esta linea
            borrar tambien el partial*@
        @Html.Partial("Index/_ListadoPrestamos")
    </div>
    <div class="col-md-4">
        @Html.Partial("Index/_PlanillaSalarios")
    </div>
</div>