@{
    ViewBag.Title = "Index";
}
@section scripts{

    <script src="~/Scripts/Padrones/Index/Services/common.services.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('sueldosYjornalesApp')
                .factory('sYjResource', sYjResource);

            sYjResource.$inject = ['$resource'];

            function sYjResource($resource) {
                var empresas = $resource("@Href("~/api/Empresas")");
                var sucursales = $resource("@Href("~/api/Sucursales")");
                var nacionalidades = $resource("@Href("~/api/Nacionalidades")");
                var cargos = $resource("@Href("~/api/Cargos")");
                var profesiones = $resource("@Href("~/api/Profesiones")");

                return {
                    "empresas": empresas,
                    "sucursales": sucursales,
                    "nacionalidades": nacionalidades,
                    "cargos": cargos,
                    "profesiones": profesiones
                }
            }
        })();
    </script>
    @*Controladores js*@
    <script src="~/Scripts/Padrones/Index/Controllers/menuCtrl.js"></script>
    <script src="~/Scripts/Padrones/Index/Controllers/empresas/empresasCtrl.js"></script>
    <script src="~/Scripts/Padrones/Index/Controllers/empresas/listadoEmpresasCtrl.js"></script>

    <script src="~/Scripts/Padrones/Index/Controllers/sucursales/sucursalesCtrl.js"></script>
    <script src="~/Scripts/Padrones/Index/Controllers/sucursales/listadoSucursalesCtrl.js"></script>
    <script src="~/Scripts/Padrones/Index/Controllers/nacionalidades/nacionalidadesCtrl.js"></script>
    <script src="~/Scripts/Padrones/Index/Controllers/nacionalidades/listadoNacionalidadesCtrl.js"></script>

    <script src="~/Scripts/Padrones/Index/Controllers/cargos/cargosCtrl.js"></script>
    <script src="~/Scripts/Padrones/Index/Controllers/cargos/listadoCargosCtrl.js"></script>
    <script src="~/Scripts/Padrones/Index/Controllers/profesiones/profesionesCtrl.js"></script>
    <script src="~/Scripts/Padrones/Index/Controllers/profesiones/listadoProfesionesCtrl.js"></script>
}
<h2>Padrones</h2>
<div class="container" ng-controller="menuCtrl as vm" ng-cloak>
    <ul class="nav nav-tabs" style="margin-top:25px;">
        <li role="presentation" class="{{vm.menu.empresas.class}}">
            <a href="#" ng-click="vm.empresasFn()">Empresas</a>
        </li>
        <li role="presentation" class="{{vm.menu.sucursales.class}}">
            <a href="#" ng-click="vm.sucursalesFn()">Sucursales</a>
        </li>
        <li role="presentation" class="{{vm.menu.nacionalidades.class}}">
            <a href="#" ng-click="vm.nacionalidadesFn()">Nacionalidades</a>
        </li>
        <li role="presentation" class="{{vm.menu.cargos.class}}">
            <a href="#" ng-click="vm.cargosFn()">Cargos</a>
        </li>
        <li role="presentation" class="{{vm.menu.profesiones.class}}">
            <a href="#" ng-click="vm.profesionesFn()">Profesiones</a>
        </li>
    </ul>
    <div style="margin-top:25px;" ng-show="vm.menu.empresas.mostrar">
        @Html.Partial("Index/_Empresas")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.sucursales.mostrar">
        @Html.Partial("Index/_Sucursales")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.nacionalidades.mostrar">
        @Html.Partial("Index/_Nacionalidades")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.cargos.mostrar">
        @Html.Partial("Index/_Cargos")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.profesiones.mostrar">
        @Html.Partial("Index/_Profesiones")
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.introduccion" class="text-center">
        <div class="alert alert-info">
            Por favor elija uno de las opciones a cargar dentro de los padrones
        </div>
    </div>
</div>
